<!DOCTYPE html>
<html>
  <head>
    <title>HotwireTurbo</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    <%= tag :meta, name: :gm_js_ak, content: ENV['GOOGLE_MAPS_JS_API_KEY'] %>
    <%= javascript_include_tag "https://maps.googleapis.com/maps/api/js?key=#{ENV['GOOGLE_MAPS_JS_API_KEY']}&libraries=places&callback=initMap",
                            async: true,
                            defer: true,
                            "data-turbolinks-eval": false %>
  </head>
  <body>
    <main>
      <%= yield %>
    </main>
  </body>
</html>
